<div class="container-fluid">
  <br>
  <br>
  <br>

  <div class="row">
    <div class="col-lg-12">
      <h1 style="text-align: center;">Opportunity Image Viewer</h1>
    </div>
  </div>

  <br>
  <br>

  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-3">
      <h3 style="text-align: center;"><a href="/cameras">Register Cameras</a></h1>
    </div>
    <div class="col-lg-4">
      <h3 style="text-align: center;"><a href="/product_types">Register Product Types</a></h1>
    </div>
    <div class="col-lg-3">
      <h3 style="text-align: center;"><a href="https://pds-imaging.jpl.nasa.gov/volumes/mer.html">PDS Imaging Node</a></h1>
    </div>
    <div class="col-lg-1"></div>
  </div>

  <br>
  <br>
  <br>

  <div class="form-group">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-2">
        <label class="col-form-label" for="prodType">Product Type</label>
      </div>
      <div class="col-lg-6">
          <select ng-model="$ctrl.selectedProductType" class="form-control" id="prodType" ng-options="x.Name for x in $ctrl.productTypes"></select>
      </div>
      <div class="col-lg-3"></div>
    </div>
  </div>

  <br>
  <br>

  <div class="form-group">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-2">
        <label class="col-form-label" for="camera">Camera</label>
      </div>
      <div class="col-lg-6">
          <select ng-model="$ctrl.selectedCamera" class="form-control" id="camera" ng-options="x.Name for x in $ctrl.cameras"></select>
      </div>
      <div class="col-lg-3"></div>
    </div>
  </div>

  <br>
  <br>

  <div class="form-group">
    <div class="row">
      <div class="col-lg-12" style="text-align: center;">
        <button type="button" class="btn btn-primary" ng-click="$ctrl.openCreateImage();">Register Image</button>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row" ng-repeat="image in $ctrl.allImages">
      <div class="col-lg-2"></div>
      <div class="col-lg-2">
        <label class="col-form-label" for="img{{image.Name}}">{{image.Name}}</label>
      </div>
      <div class="col-lg-5" ng-if="image.cached==true">
        <img
          id="img{{image.name}}"
          ng-src="{{$ctrl.getImageSource(image)}}"
          onerror="$ctrl.onImageError()"
          style="
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%;"
            >
      </div>
      <div class="col-lg-5" ng-if="image.cached==false">
        <div class="progress" ng-if="image.cached==false">
          <div
            id="img{{image.Name}}"
            class="progress-bar"
            role="progressbar"
            style="width: {{$ctrl.getProgress(image.Name)}}%"
            aria-valuenow="{{$ctrl.getProgress(image.Name)}}"
            aria-valuemin="0"
            aria-valuemax="100"
            ng-if="image.cached==false"
          >
          </div>
        </div>
      </div>
      <div class="col-lg-3"></div>
    </div>
  </div>

</div>