<!DOCTYPE html>
<html lang="en-US">
  <head>

    <link rel="shortcut icon" href="{{ url_for('static', filename='oppy.jpg') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/angular/angular.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/angular-route/angular-route.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/angular-animate/angular-animate.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/angular-sanitize/angular-sanitize.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='pages/home/module.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='pages/create_entries/module.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='pages/home/modals/create_image.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='pages/home/service.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='pages/home/component.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='pages/create_entries/service.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='pages/create_entries/component.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
  </head>
  <body ng-app='app'>
    <div ng-view></div>
  </body>
</html>