<!DOCTYPE html>
<html lang="en-US">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/angular/angular.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/angular-route/angular-route.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/angular-animate/angular-animate.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='pages/home/module.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='pages/home/service.js') }}"></script>
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='pages/home/modals/imageError.js') }}"></script> -->
    <script type="text/javascript" src="{{ url_for('static', filename='pages/home/component.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
  </head>
  <body ng-app='app'>
    <div ng-view></div>
  </body>
</html>